<!-- <app-navbar></app-navbar>
<app-student></app-student>
<app-footer2></app-footer2> -->
<!-- <app-department></app-department>
<h6>power of 5 is </h6>
{{5|powerToox:2}}<hr>
<h6>convert string is </h6>
{{'Iti-Alex-os-24'|stringConvert}}
<hr>
{{["apple","orange","banana"]|arraySplice:"apple"}}
<hr>{{["apple","orange","banana"]|arraySplice:"a"}}
<h6>Rate is </h6>
<app-star [rate]=2></app-star>
<app-star [rate]=1></app-star>
<app-star [rate]=5></app-star>
<app-star [rate]=2.5></app-star>
<h6>calendar is </h6>
<p-calendar [inline]="true" [showWeek]="true"></p-calendar>
<hr>
<h6>Chips is </h6>
<p-chips></p-chips>
<hr> -->
<!-- <p-gmap [style]="{'width':'100%','height':'320px'}"></p-gmap> -->
<!-- <h6>File upload is </h6>
<p-fileUpload name="" url=""></p-fileUpload> 
<h6>password strength is </h6>
<p-password></p-password> -->
<app-product></app-product>
